/* Useful properties:
   - width, height (for sizing boxes)
   - margin (and, margin-top, margin-left, etc.)
   - padding (and padding-top, ...)
   - border (and border-top, ...)
   - color, background-color
   - font-size, font-family
 */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Layout
 */

.title {
  margin: 0;
}
.post {
  width: 30rem;
  margin: auto;
}
.post > header { margin-bottom: 1rem; }
.post > * {
  padding: .5rem 1rem;
  margin: 0;
}

header .avatar {
  height: 32px; width: 32px;
  border-radius: 100%;
}

#add-comment {
  display: block;
}

.friendlist {
  position: absolute;
  width: 10rem;
}

.page-footer {
  text-align: center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Fonts
 */

html { font-size: 16px; font-family: monospace; }

header { font-family: sans-serif; font-size: 90%; }

.friendlist h2 { font-size: 1rem; }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Colors and borders
 */

html { background-color: #eee; color: #333; }
